body {
    background: radial-gradient(at top center,white,lightslategray);
    height:100%;
    margin:0;
    font-size: 14pt;
}

html {
    min-height: 100%;
}

#logo {
    width:150px;
    height: 150px;
    display: block;
    margin-bottom: 30px;
}

.container {
    overflow:hidden;
}

.container-item {
    float:left;
}

#nav-table {
    border-spacing: 0;
}

.nav-link {
    text-decoration: none;
    display: block;
    font-size: 20pt;
    padding: 5px;
    color: deepskyblue;
    background: black;
}

.nav-link:hover {
    color: blue;
    background: gold;
}

.left-side {
    width:10%;
}

.right-side {
    width:15%;
}

.center {
    width:70%;
    border-left:1pt solid black;
    border-right:1pt solid black;
    padding: 30px;
}

footer {
    border-top: 1pt solid black;
}

main {
    border-top: 1pt solid black;
    margin-top:10px;
}

header {
    margin-top: 20px;
}

.side-link {
    display: block;
    border: 1pt solid black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 18pt;
    text-align:center;
    color:black;
    margin:10px;
}

.side-link:hover {
    background: black;
    color:white;
}