body {
    background: radial-gradient(at top center,white,lightslategray);
    height:100%;
    margin:0;
    font-size: 14pt;
}

html {
    min-height: 100%;
}

#logo {
    width:150px;
    height: 150px;
    display: block;
    margin: 0 auto 30px auto;
}

nav a {
    text-decoration: none;
    display: inline;
    font-size: 20pt;
    padding: 5px;
    color: deepskyblue;
    background: black;
}

nav a:hover {
    color: blue;
    background: gold;
}

nav {
    text-align: center;
}

.left-side, .right-side {
    width:15%;
    float:left;
}

.center {
    width:60%;
    border-left:1pt solid black;
    border-right:1pt solid black;
    padding: 30px;
    float:left;
}

footer {
    border-top: 1pt solid black;
}

main {
    margin-top:10px;
    padding-left: 5%;
    border-top: 1pt solid black;
    overflow:hidden;
}

header {
    margin-top: 20px;
}

.side-link {
    display: block;
    border: 1pt solid black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 18pt;
    text-align:center;
    color:black;
    margin:10px;
    font-weight: bold;
}

.side-link:hover {
    background: black;
    color:white;
}

#doctor-big-photo {
    margin: 15px auto 15px auto;
    width: 180px;
    height:270px;
    display: block;
}

.staff-container-item {
    text-decoration: none;
    margin: 15px;
    color: black;
    width:110px;
    height:200px;
    font-size: 12pt;
    text-align: center;
    display: block;
    float:left;
}

.staff-container-item:hover {
    text-decoration: underline;
}

.doctor-little-photo {
    width:90px;
    height:135px;
}