<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Адміністрування</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>

    <div class="center">
        <form autocomplete="off" action="#" th:action="@{/admin/find-user}"
              method="post" class="form-horizontal"
              role="form">
            <h2>Знайти користувача по email</h2>

            <div class="form-group">
                <div class="col-sm-9">
                    <input type="text" name="email"  th:placeholder="email"
                           class="form-control" />
                    </div>
            </div>


            <div class="form-group">
                <div class="col-sm-9">
                    <button type="submit">Знайти</button>
                </div>
            </div>

        </form>

        <div>
            <h3 style="text-align: center;">Мої дані</h3>
            <div th:replace="layouts :: user-info-change-forms"></div>
        </div>
        <h3>Відділи</h3>
        <table th:replace="layouts::departments-table"></table>

        <div th:replace="layouts::add-department-form"></div>
        <h3>Лікарі</h3>
        <table th:replace="layouts::doctors-table"></table>

<!--        <a href="/admin/create-doctor">Додати лікаря</a>-->
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>