<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Персональний кабінет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body>
<header th:replace="layouts::header"></header>
<main>
    <aside th:replace="layouts :: left-side"></aside>
    <div class="center">

        <form action="/user/save" method="post" th:object="${user}" >

            <div class="cabinet-body">
                <div class="cabinet-wrap">
                    <div class="cabinet-wrap__row">
                        <b class="text-before-field">Ім'я</b>
                        <input class="text-input" type="text" placeholder="Ім'я" name="firstName"
                        th:value="*{firstName}"/>
                    </div>
                    <div class="cabinet-wrap__row">
                        <b class="text-before-field">Прізвище</b>
                        <input class="text-input" type="text" placeholder="Прізвище" name="lastName"
                           th:value="*{lastName}"/>
                    </div>
                    <div class="cabinet-wrap__row">
                        <b class="text-before-field">Пошта</b>
                        <input class="text-input" type="text" placeholder="Пошта" name="email"
                           th:value="*{email}"/>
                    </div>

                    <div class="cabinet-photo">
                        <div class="cabinet-photo__avatar" th:if="${user.photo == null}"><img width="200" src="/images/user_icon.png" class="user-photo"></div>
                        <div class="cabinet-photo__avatar"  th:unless="${user.photo == null}" ><img width="200" th:src="@{${'/resources/uploads/' + user.photo}}" class="user-photo"></div>

                        <button type="submit">Підтвердити</button>
                        <a class="change-password-btn" th:href="@{/user/passwordchange}">Змінити пароль</a>
                    </div>
                </div>
            </div>
        </form>
        <form align="center" action="uploadPhoto" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="selectedFile" style="display: none;" onchange="form.submit()"/>
            <input type="button" value="Завантажити фото"
                   onclick="document.getElementById('selectedFile').click();"/>
        </form>

        <div style="margin-top:20px;">
        <h3 class="small-centered-headline">Записи</h3>
        <table th:replace="layouts :: timetable"></table>
        </div>
    </div>
    <aside th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts::footer"></footer>


</body>
</html>