<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Персональний кабінет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body>
<header th:replace="layouts::header"></header>
<main>
    <aside th:replace="layouts :: left-side"></aside>
    <div class="center">
        <div th:replace="layouts :: user-info-change-forms"></div>

        <div style="margin-top:20px;" sec:authorize="hasAnyAuthority('PATIENT','DOCTOR')">
            <h3 class="small-centered-headline">Записи</h3>
            <table th:replace="layouts :: timetable"></table>
        </div>

        <div class="author-cabinet" sec:authorize="hasAuthority('AUTHOR')">
            <h3 class="small-centered-headline">Мої новини</h3>
            <table class="news-table">
                <tr th:each="item : ${news}">
                    <td class="news-date">
                        <span th:text="${#dates.format(item.date, 'HH:mm')}"></span>
                    </td>
                    <td class="news-name">
                        <a th:text="${item.name}" th:href="@{${'/news/' + item.id}}"></a>
                    </td>
                </tr>
            </table>
        </div>
    <div class="author-cabinet" sec:authorize="hasAuthority('AUTHOR')">
            <h3 class="small-centered-headline">Мої статті</h3>
            <table class="news-table">
                <tr th:each="item : ${articles}">
                    <td class="news-date">
                        <span th:text="${#dates.format(item.date, 'HH:mm')}"></span>
                    </td>
                    <td class="news-name">
                        <a th:text="${item.name}" th:href="@{${'/news/' + item.id}}"></a>
                    </td>
                </tr>
            </table>
        <a style="display: block; margin: 20px 0 0 20px;" href="/author/create-news">Додати новину чи статтю</a>
    </div>

        <div style="margin-top:50px;">
            <div th:replace="layouts :: timetable-create-form"></div>
        </div>

    </div>
    <aside th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts::footer"></footer>


</body>
</html>