<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${doctor.surname+' '+doctor.name+' '+doctor.middleName}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
        <aside class="left-side" th:replace="layouts :: left-side"></aside>

        <div class="center">
            <img id="doctor-big-photo" th:src="@{${'/images/doctors/' + doctor.photoName}}" />
            <p>
                <b>Ім'я</b>: <span th:text="${doctor.name}"></span>
            </p>
            <p>
                <b>По батькові</b>: <span th:text="${doctor.middleName}"></span>
            </p>
            <p>
                <b>Прізвище</b>: <span th:text="${doctor.surname}"></span>
            </p>
            <p>
                <b>Відділення</b>: <a th:href="@{${'/department/'+doctor.department.id}}" th:text="${doctor.department.name}"></a>
            </p>
            <p>
                <b>Спеціалізація</b>: <span th:text="${doctor.specialization}"></span>
            </p>
            <p>
                <b>Рівень кваліфікції</b>: <span th:text="${doctor.qualificationLevel}"></span>
            </p>

            <a th:href="@{${'/doctor/' + doctor.id + '/timetable'}}">Розпорядок роботи лікаря</a>
        </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>