<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title th:text="${doctor.surname+' '+doctor.name+' '+doctor.middleName}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
        <aside class="left-side" th:replace="layouts :: left-side"></aside>

        <div class="center">
            <img id="doctor-big-photo" th:src="@{${'/images/doctors/' + doctor.photoName}}" />
            <p>
                <b>Ім'я</b>: <span th:text="${doctor.name}"></span>
            </p>
            <p>
                <b>По батькові</b>: <span th:text="${doctor.middleName}"></span>
            </p>
            <p>
                <b>Прізвище</b>: <span th:text="${doctor.surname}"></span>
            </p>
            <p>
                <b>Відділення</b>: <a th:href="@{${'/search?dep='+doctor.department.name}}" th:text="${doctor.department.name}"></a>
            </p>
            <p>
                <b>Спеціалізація</b>: <span th:text="${doctor.specialization}"></span>
            </p>
            <p>
                <b>Рівень кваліфікції</b>: <span th:text="${doctor.qualificationLevel}"></span>
            </p>

            <a th:href="@{${'/doctor-info/' + doctor.id + '/timetable'}}">Розпорядок роботи лікаря</a>

            <div style="margin-top: 20px;">
                <h3 class="small-centered-headline">Відгуки</h3>
                <div th:id="${review.id}" class="review" th:each="review: ${reviews}">
                    <div class="review__header">
                        <div class="review__avatar" th:if="${review.patient.photo == null}"><img src="/images/user_icon.png"></div>
                        <div class="review__avatar"  th:unless="${review.patient.photo == null}" ><img th:src="@{${'/resources/uploads/' + review.patient.photo}}"></div>
                        <div class="review__author" th:text="${review.patient.getFirstName() + ' ' + review.patient.getLastName()}"></div>
                    </div>
                    <div class="review__date" th:text="${#dates.format(review.date, 'dd.MM.yyyy') + ', ' + #dates.format(review.date, 'HH:mm')}"></div>
                    <div class="review__text" th:text="${review.text}"></div>
                    <div sec:authorize="hasAnyAuthority('PATIENT','ADMIN')">
                    <form class="edit-review-form" style="display: none;" method="post" th:object="${reviewDTO}" th:action="@{${'/user/edit-review?reviewId=' + review.id}}">
                        <input type="hidden" name="doctorId" th:value="${doctor.getId()}">
                        <textarea class="large-textarea" name="text" rows="6"></textarea>
                        <button type="submit" class="link-button">Надіслати</button>
                    </form>
                    <form class="delete-review-button" style="display:inline" th:object="${reviewDTO}" th:if="${review.patient == user or user.roles.contains(admin)}" th:action="@{${'/user/delete-review?reviewId=' + review.id}}" th:method="delete">
                        <input type="hidden" name="doctorId" th:value="${doctor.id}">
                        <button class="link-button" type="submit">Видалити</button>
                    </form>
                    <button th:if="${review.patient == user}" class="edit-review-button" th:onclick="'editReview(\'' + ${review.id} + '\');'">Редагувати</button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;" th:unless="${userAlreadyLeftReview}" sec:authorize="hasAuthority('PATIENT')">
                <h3 style="margin:0; font-size: 16pt;">Додати відгук</h3>
                <form method="post" th:object="${reviewDTO}" th:action="@{/user/leave-review}">
                    <input type="hidden" name="doctorId" th:value="${doctor.getId()}">
                    <textarea class="large-textarea" name="text" rows="6"></textarea>
                    <button type="submit">Надіслати</button>
                </form>
            </div>

        </div>

        <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>