<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Лікарня</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>

<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>

    <div class="center">
            <article>
                <section>
                    Лікарня — це установа, яка надає медичні послуги для громади. Є юридичною особою, користується правом оперативного управління відносно закріпленого майна, має штамп, печатку, статут, який затверджуються згідно з чинним законодавством, поточні та інші рахунки у фінансових установах, здійснює бухгалтерський і первинний статистичний облік. Головний лікар, який управляє лікарнею, призначається на умовах контракту, в якому прописано: строк найму, права, обов'язки, відповідальність, умови його матеріального забезпечення, тощо.
                </section>
            </article>
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>

</html>