<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лікарня</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <div align="center">
    <img id = "logo" src="/images/logo.png">
        <nav>
            <table id="nav-table">
                <tr>
                    <td>
                        <a class="nav-link" href="/">Головна</a>
                    </td>
                    <td>
                        <a class="nav-link" href="/staff">Персонал</a>
                    </td>
                </tr>
            </table>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <div class="container-item left-side">
            <a class="side-link" href="/"><b>Історія лікарні</b></a>
        </div>
        <div class="container-item center">
            Лікарня — це установа, яка надає медичні послуги для громади. Є юридичною особою, користується правом оперативного управління відносно закріпленого майна, має штамп, печатку, статут, який затверджуються згідно з чинним законодавством, поточні та інші рахунки у фінансових установах, здійснює бухгалтерський і первинний статистичний облік. Головний лікар, який управляє лікарнею, призначається на умовах контракту, в якому прописано: строк найму, права, обов'язки, відповідальність, умови його матеріального забезпечення, тощо.

            Лікарі, медсестри та інші працівники лікарні працюють над відновленням здоров'я хворих та поранених. Вони також здійснюють профілактику хвороб задля збереження здоров'я пацієнтам, відповідно й громадського здоров'я. Деякі лікарні служать центрами медичної освіти та досліджень, тоді їх називають клініками. Деякі відомчі лікарні мають у своєму складі поліклініки, що покращує зв'язки між стаціонарною та амбулаторною допомогою, хоча в Україні державні лікарні та поліклініки є відокремленими одна від одної. Кожна лікарня має свої види послуг, відповідно різниться набором відділень. Наразі лікарні різняться за типом власності. Вважається, що пацієнтам слід перебувати в лікарні не більше 5 днів, щоб запобігти внутрішньолікарняному зараженню нозокоміальною інфекцією.

            Лікарня розташовується у спеціально збудованих чи пристосованих будівлях, які за переліком і площею службових приміщень відповідають діючим санітарно-гігієнічним, протиепідемічним, будівельним нормам та правилам, технічнобезпековим і протипожежним вимогам.

            Загальна лікарня надає послуги більшості людей та хвороб. Спеціалізована лікарня лікує певних людей або певні хвороби чи групу хвороб. Наприклад, дитячі лікарні лікують лише дітей, реабілітаційні лікарні надають послуги, щоб допомогти людям ефективно жити після тяжких хвороб. Клініки навчають майбутніх лікарів, медсестер, фахівців лабораторії тощо.
        </div>
        <div class="container-item right-side">
            <div align="center">Тут буде авторизація користувача</div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>