<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Лікарня</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script src="/js/scripts.js"></script>-->
</head>

<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>

    <div class="center">
            <article>
                <img src="/images/hospital.jpeg" style="margin: 0 auto 20px auto; display: block; width: 400px;">
                <p style="text-indent: 30px;">
                    Наша клініка - це багатопрофільна спеціалізована дитяча клініка, яка є організаційно-методичним, науковим, медичним спеціалізованим центром.
                </p>
                <p style="text-indent: 30px;">
                    Це заклад вищої акредитаційної категорії, який надає медичну допомогу дітям з найскладнішими патологічними станами і хворобами.
                </p>
                <p style="text-indent: 30px;">
                    В 2007 році лікарня отримала Міжнародний статус ВООЗ та Дитячого Фонду ООН ЮНІСЕФ «Лікарня, доброзичлива до дитини». Це була перша в Україні дитяча лікарня, яка отримала таке високе звання. Статус лікарні підтверджено експертами у 2010 році.
                </p>
                <p style="text-indent: 30px;">
                    Щорічно в клініці отримують стаціонарну допомогу понад 15 тис. дітей віком до 18 років, половина з них – жителі сільської місцевості.
                </p>
                <p style="text-indent: 30px;">
                    В консультативній поліклініці, щороку отримують якісну амбулаторно-поліклінічну допомогу більше 80 тис. дітей. Спеціалізована медична допомога надається по 30 профілях.
                </p>
                <p style="text-indent: 30px;">
                    Функціонує медико-генетичний центр, кабінет охорони зору, сурдологічний кабінет. В січні 2017 року на базі даного кабінету створено Центр реабілітації дітей з порушенням слуху та мови.  Діти, які мають кохлеарні імпланти або готуються до операції по встановленню такого імпланта, тепер мають можливість отримати ефективну реабілітацію слуху та мови шляхом регулярних занять із рядом спеціалістів, які працюють на базі центру.
                </p>
                <p style="text-indent: 30px;">
                    В лікарні гармонійно поєднується впровадження сучасних методів діагностики і лікування дітей з розвитком профілактичних програм, що сприяють зменшенню захворюваності і смертності дітей в області.
                </p>
            </article>
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>

</html>