<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<body>

<header th:fragment="header">
    <img id = "logo" src="/images/logo.png">
    <nav>
        <a href="/">Головна</a>
        <a href="/doctor/search">Персонал</a>
  <!--      <a href="/staff">Персонал</a> -->
    </nav>
</header>

<aside class="left-side" th:fragment="left-side">
        <a class="side-link" href="/">Історія лікарні</a>
        <a class="side-link" href="/departments">Відділення лікарні</a>
</aside>

<aside class="right-side" th:fragment="right-side">
    <div class="login-link" sec:authorize="isAnonymous()"><a th:href="@{/login}">Ввійти</a> <br/> <a th:href="@{/registration}">Зареєструватись</a></div>
    <div class="login-link" sec:authorize="isAuthenticated()"><a th:href="@{/user/cabinet}">Кабінет</a></div>
    <div class="login-link" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Вийти</a></div>

    </aside>

<footer th:fragment="footer"></footer>

<a th:fragment="doctor-link" th:href="@{${'/doctor-info/'+doctor.id}}" class="staff-container-item">
    <img class="doctor-little-photo" th:src="@{${'/images/doctors/' + doctor.photoName}}" />
    <span th:text="${doctor.surname+' '+doctor.name+' '+doctor.middleName}"></span>
</a>

<div th:fragment="deparment-list" class="department-list" th:each="department: ${departments}">
    <div>
    <a th:href="@{${'/department/' + department.id}}" th:text="${department.getName()}"></a>
    </div>
</div>

<table th:fragment="timetable" class="timetable">
    <tr>
        <th>Лікар</th>
        <th>Дата</th>
        <th>Початок</th>
        <th>Кінець</th>
        <th>Статус</th>
    </tr>
    <tr th:each="schedule: ${schedules}">
        <td th:text="${
                    schedule.doctor.surname + ' ' +
                    schedule.doctor.name + ' ' +
                    schedule.doctor.middleName }">
        </td>

        <td th:text="${#dates.format(schedule.start, 'dd.MM.yyyy')}"></td>

        <td th:text="${#dates.format(schedule.start, 'HH:mm')}"></td>

        <td th:text="${#dates.format(schedule.end, 'HH:mm')}"></td>

        <td th:if="${schedule.patient} == null">
            <a th:href="/">Записатись</a>
        </td>

        <td th:if="${schedule.patient} != null">Зайнято</td>
    </tr>
</table>

</body>
</html>