<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>

    <div class="center">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3>Ласкаво просимо!</h3>
            <br/>

            <input type="text" id="email" name="email"  th:placeholder="Email"
                   class="form-control" /> <br/>
            <input type="password"  th:placeholder="Password"
                   id="password" name="password" class="form-control" /> <br />

            <div align="center" th:if="${param.error}">
                <p>Неправильний логін або пароль</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Ввійти</button>
        </form>
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>