<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Персональний кабінет</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="layouts::header"></header>
<main>
    <aside th:replace="layouts :: left-side"></aside>
    <div class="center">

        <form action="/user/savePassword" method="post">

            <input type="text" placeholder="Введіть старий пароль" name="passwordOld">
            <input type="text" placeholder="Введіть новий пароль" name="passwordRawFir">
            <input type="text" placeholder="Введіть новий пароль ще раз" name="passwordRawSec">


            <button type="submit">Підвердити пароль</button>
        </form>

    </div>
    <aside th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts::footer"></footer>
</body>
</html>