<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Персональний кабінет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts::header"></header>
<main>
    <aside th:replace="layouts :: left-side"></aside>
    <div class="center">

        <form action="/user/savePassword" method="post">

            <input type="password" placeholder="Введіть старий пароль" name="passwordOld">
            <input type="password" placeholder="Введіть новий пароль" name="passwordRawFir">
            <input type="password" placeholder="Введіть новий пароль ще раз" name="passwordRawSec">

            <div align="center" th:if="${param.error}">
                <p>Неправильний пароль</p>
            </div>

            <button type="submit">Підвердити пароль</button>
        </form>

    </div>
    <aside th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts::footer"></footer>
</body>
</html>