<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Персональний кабінет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts::header"></header>
<main>
    <aside th:replace="layouts :: left-side"></aside>
    <div class="center">

        <form class="resest-password-form" action="/savePassword" method="post" th:object="${dtoPass}">


            <input type="password" placeholder="Введіть старий пароль" name="passwordOld" th:field="*{passwordOld}">
            <input type="password" placeholder="Введіть новий пароль" name="passwordRawFir" th:field="*{passwordRawFir}">
            <input type="password" placeholder="Введіть новий пароль ще раз" name="passwordRawSec" th:field="*{passwordRawSec}">

            <label	th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}"
                      class="validation-message">
                <p>Введений пароль не співпадає</p>
            </label>

            <label	th:if="${#fields.hasErrors('passwordRawSec')}" th:errors="*{passwordRawSec}"
                      class="validation-message">
                <p>Паролі не однакові</p>
            </label>


            <button type="submit">Підвердити пароль</button>
        </form>

    </div>
    <aside th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts::footer"></footer>
</body>
</html>