<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Персонал</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<header th:replace="homepage::header"></header>
<main>
        <aside class="left-side" th:replace="homepage::left-side"></aside>
        <div class="center">
            <div th:each="doctor: ${doctors}">
                <a th:href="@{${'/doctor-info/'+doctor.id}}" class="staff-container-item">
                    <img class="doctor-little-photo" th:src="@{${'/images/doctors/' + doctor.photoName}}" />
                    <span th:text="${doctor.surname+' '+doctor.name+' '+doctor.middleName}"></span>
                </a>
            </div>
        </div>
        <aside class="right-side" th:replace="homepage::right-side"></aside>
</main>
<footer th:replace="homepage::footer"></footer>
</body>
</html>