<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${status}=='all'">Персонал</title>
    <title th:if="${status}=='department'" th:text="${department.name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
        <aside class="left-side" th:replace="layouts :: left-side"></aside>
        <div class="center">
            <div th:if="${status}=='all'" th:each="doctor: ${doctors}">
                <a th:replace="layouts :: doctor-link"></a>
            </div>
            <div th:if="${status}=='department'" th:each="doctor: ${thisDepartmentDoctors}">
                <a th:replace="layouts :: doctor-link"></a>
            </div>
        </div>
        <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>