<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Розклад роботи лікаря - ' + doctor.surname+' '+doctor.name+' '+doctor.middleName}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>

    <div class="center">
        <div th:if="${doctor.user} == ${user}" style="margin-bottom: 50px;">
            <h3 class="small-centered-headline">Додати розклад</h3>
            <form autocomplete="off" action="#" th:action="@{${'/doctor/' + doctor.id + '/timetable/create'}}"
                  th:object="${scheduleDTO}" method="post" role="form">
                <div class="form-element">
                    <p>
                        На дату:
                    </p>
                    <input placeholder="01.01.2019" th:field="*{dateString}">
                </div>

                <div class="form-element">
                <p>
                        Година початку роботи:
                </p>

                <select th:field="*{startingHour}">
                        <option th:each="hour: ${hoursToStart}" th:value="${hour}" th:text="${hour + ':00'}"></option>
                </select>
                </div>

                <div class="form-element">
                <p>
                        Кількість годин роботи:
                </p>

                <select th:field="*{lengthOfTheDay}">
                        <option th:each="hour: ${durationsHours}" th:value="${hour}" th:text="${hour + ' годин'}"></option>
                </select>
                </div>

                <div class="form-element">
                <p>
                    Довжина прийому (хв):
                </p>
                    <input placeholder="15" th:field="*{duration}">
                </div>

                <button style="display: block;" type="submit">Створити</button>
            </form>
        </div>

        <div>
            <h3 class="small-centered-headline">Записи</h3>
            <p><b>Лікар: </b><span th:text="${doctor.surname+' '+doctor.name+' '+doctor.middleName}"></span></p>
            <table th:replace="layouts :: timetable"></table>
        </div>
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>