<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Інформація про користувача</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>
    <div class="center">
        <h1>Користувач</h1>
        <p>
            <b>Ім'я: </b> <span th:text="${foundedUser.firstName}"></span></p>
        <p>
            <b>Прізвище: </b>
            <span th:text="${foundedUser.lastName}"></span>
        </p>
        <p>
            <b>Email: </b>
            <span th:text="${foundedUser.email}"></span>
        </p>
        <p>

        <form th:unless="${foundedUser.banned}" th:action="@{'/admin/ban-user?status=true'}" th:object="${roleToChangeDTO}" th:method="post" >
            <input type="hidden"  name="email" th:value="${foundedUser.email}" >
            <button type="submit">Забанити</button>
        </form>

        <form th:if="${foundedUser.banned}" th:action="@{'/admin/ban-user?status=false'}" th:object="${roleToChangeDTO}" th:method="post" >
            <input type="hidden"  name="email" th:value="${foundedUser.email}" >
            <button type="submit">Розбанити</button>
        </form>

            <h3>Ролі:</h3>
            <div th:each="userRole:${foundedUser.roles}">
                <form action="#" th:action="@{/admin/user-info}" th:object="${roleToChangeDTO}" th:method="delete" >

                    <input type="hidden"  name="email" th:value="${foundedUser.email}" >
                    <input type="hidden"  name="role" th:value="${userRole.name}">
                        <label>
                            <p th:text="${userRole.name}"></p>
                        </label>
                    <button type="submit">Видалити</button>
                </form>
            </div>
        </p>
        <h3>Додати роль</h3>
            <form action="#" th:action="@{/admin/user-info}" th:object="${roleToChangeDTO}" th:method="post" >

                <input type="hidden"  name="email" th:value="${foundedUser.email}" >

                <div style="margin-bottom: 10px;" th:each="role: ${rolesToAdd}">
                    <input style="margin-right: 5px;" name="role" type="radio" th:value="${role.name}">
                    <span th:text="${role.name}"></span>
                </div>
                <button type="submit">Додати</button>
            </form>

    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>