<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="layouts :: header"></header>
<main>
    <aside class="left-side" th:replace="layouts :: left-side"></aside>
    <div class="center">
        <h1>user</h1>
        <p>name </p><p th:text="${foundedUser.firstName}"></p>
        <p>last name </p><p th:text="${foundedUser.lastName}"></p>
        <p>email </p><p th:text="${foundedUser.email}"></p>
        <p>roles </p>

            <div  th:each="userRole:${foundedUser.roles}">
                <form action="#" th:action="@{/admin/user-info}" th:object="${roleToDeleteDTO}" th:method="delete" >

                    <input type="hidden"  name="email" th:value="${foundedUser.email}" >
                    <input type="hidden"  name="role" th:value="${userRole.name}">
                    <label>
                        <p th:text="${userRole.name}"></p>
                    </label>
                    <button type="submit">delete</button>
                </form>
            </div>

<!--        <div  th:each="role:${rolesToAdd}">-->

            <form action="#" th:action="@{/admin/user-info}" th:object="${roleToDeleteDTO}" th:method="post" >

                <input type="hidden"  name="email" th:value="${foundedUser.email}" >
                <input type="text" name="role"/>
<!--                th:value="${rolesToAdd}">-->
            <!--            <select th:field="*{role}">-->
<!--                    <option th:each="role : ${rolesToAdd}" th:value="${role}" th:text="${ro}">-->
<!--                    </option>-->
<!--            </select>-->
                <button type="submit">add</button>
            </form>
<!--        </div>-->
    </div>

    <aside class="right-side" th:replace="layouts :: right-side"></aside>
</main>
<footer th:replace="layouts :: footer"></footer>
</body>
</html>